html {
  color: #040404;
  font-family: 'Roboto', sans-serif;

}

.saturate {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  -moz-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  -o-filter: grayscale(100%); /* Safari 6.0 - 9.0 */

  filter: grayscale(100%);
  transition: 400ms;
  padding: 0.175em;
  border-radius: 2px;
}


.saturate:hover {
  -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
  -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
  -moz-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
  -o-filter: grayscale(10%); /* Safari 6.0 - 9.0 */

  filter: grayscale(10%);
}

footer {
  background-color: #3a85ff;
  padding: 0.5em;
  color: #f2f2f2;
  margin-top: 1em;
}

.margin-zero {
  margin: 0 auto;
}

.block {
  display: block;
}

.max-width {
max-width: 600px;
}

.wrapper {
  margin: 0 auto;
  max-width: 50em;
}

h1 {
  text-align: center;
  font-weight: 400;
  padding: 0.8em 0 0 0.5em;
  color: #3a85ff;
  clear: none;
  display: inline;
  transition: 800ms ease;
  font-size: 1.5em;
  font-family: 'Roboto Mono', monospace;
}

.drop {
  -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.08);
  box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.08);
}

.opening {
  max-width: 200px;
}

/*Navigation Bar*/
li {
  list-style: none;
  margin: 0.5em;
  display: inline;
  font-size: 1em;
  margin-left: 0.2em;
}

a {
    text-decoration: none;
    /*color: #ff704d;*/
    color: #404040;
    opacity: 0.5;
    transition: 0.5s ease;
    display: inline-block;
    /*margin: 0.2em 0.5em 0.2em 0.5em;*/

}

p {
  margin-bottom: 0;
}

a:hover {
  color: #3a85ff;
  opacity: 1;
  /*color: #f2f2f2;
  text-shadow: 0px 0px 10px #040404;*/
}

ul {
  padding-left: 0;
 /* text-align: center;*/
 display: inline-block;
}

nav {
  text-align: center;
  margin: auto;
  margin-right: 0;
  margin-top: 1em;
}
/*Navigation Bar End*/

/*footer {
  bottom: 0;
  position: absolute;
}*/
.center {
  text-align: center;
}

figure {
  margin: 0;
  padding: 0;
}

/*default black*/

.white {
  color: #f2f2f2;
}

.black {
  background-color: #1a1a1a;
}

.margin-auto {
  margin: auto 0;
}

.phone {
  color: #3a85ff;
}

@media only screen and (min-width: 38em) {

  nav {
    text-align: right;
    float: right;
    margin-top: 1.7em;
  }

  h1 {
    text-align: left;
  }

  ul {
    margin-right: 1em;
  }

}
